<div>
  Top QBs:
  <br />
  {{ qbs }}
  <br />
</div>
<br />
<div>
  Top RBs:
  <br />
  {{ rbs }}
  <br />
</div>
<br />
<div>
  Top WRs:
  <br />
  {{ wrs }}
  <br />
</div>
<br />
<div>
  Top TEs:
  <br />
  {{ tes }}
  <br />
</div>
<br />
<div>
  Top By ECR:
  <br />
  {{ ecr }}
  <br />
</div>
<br />
<div>
  Top Ks:
  <br />
  {{ ks }}
  <br />
</div>
<br />
<div>
  Top DSTs:
  <br />
  {{ dst }}
  <br />
</div>
<br />
<form method="POST" autocomplete="on">
  Draft Player
  <br />
  <input name="player-name" />
  <input type="submit" value="Draft" />
</form>
